<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.yogi.hoxy">

	<select id="adminList" resultType="YHDto">
		SELECT *
		FROM MEMREQUEST
		WHERE POWER = '0'
	</select>
	
	<select id="loginInfo" parameterType="String" resultType="int">
		SELECT WHO
		FROM MEMREQUEST
		WHERE ID = #{id} 
	</select>
	
	<select id="listShop" resultType="sellerDto">
		SELECT *
		FROM SELLER 
		WHERE POWER = '0'
	</select>
	
	<delete id="listDel" parameterType="String">
		DELETE FROM MEMREQUEST WHERE ID = #{id}
	</delete>
	
	<update id="listUp" parameterType="YHDto">
		UPDATE MEMREQUEST SET POWER='1' WHERE ID=#{id}
	</update>
	
	<select id="listSel" parameterType="String" resultType="YHDto">
		SELECT *
		FROM MEMREQUEST
		WHERE ID = #{id}
	</select>
	
	<select id="listSelShop" parameterType="String" resultType="sellerDto">
		SELECT * 
		FROM SELLER 
		WHERE SHOPID = #{shopId}
	</select>
	
	<update id="listUpShop" parameterType="sellerDto">
		UPDATE SELLER SET POWER = '1' 
		WHERE SHOPID = #{shopId} 
	</update>
	
	<delete id="shopDel" parameterType="String">
		DELETE FROM SELLER WHERE SHOPID = #{shopId}
	</delete>
	
	<select id="shopList" resultType="sellerDto">
		SELECT * FROM SELLER WHERE POWER = '1'	
	</select>
	
	<select id="memberList" resultType="YHDto">
		SELECT *
		FROM MEMREQUEST
		WHERE POWER = '1'
	</select>
	
	<update id="memUpdate" parameterType="YHDto">
		UPDATE MEMREQUEST 
		SET NAME = #{name}, PWD = #{pwd}, TEL = #{tel}, EMAIL = #{email}, WHO = #{who}, POWER = #{power}, SHOPNAME = #{shopName}, SHOPADD = #{shopAdd}, LOCAL = #{local}, BUSINESSNUM = #{businessNum}, SHOPID = #{shopId} 
		WHERE ID = #{id}
	</update>
	
	<insert id="shopAdd" parameterType="sellerDto">
		INSERT INTO SELLER
		VALUES(#{id}, #{shopTel}, #{shopName}, #{shopAdd}, #{local}, 
		#{businessNum}, SELLER_SHOPID.NEXTVAL, SYSDATE, '0', '0')
	</insert>
	
	<select id="login" parameterType="Map" resultType="String">
		SELECT DECODE(COUNT(*),1,'true','false') AS RESULT 
		FROM MEMREQUEST
		WHERE ID = #{id} AND PWD = #{pwd} AND POWER = 1
	</select>

	<update id="shopUpdate" parameterType="sellerDto">
		UPDATE SELLER SET SHOPTEL = #{shopTel}, SHOPNAME = #{shopName}, 
		SHOPADD = #{shopAdd}, LOCAL = #{local}, BUSINESSNUM = #{businessNum}
		WHERE SHOPID = #{shopId}
	</update>

	<delete id="shopDelete" parameterType="String">
		DELETE FROM SELLER WHERE SHOPID= #{shopId}
	</delete>




	
	<select id="myShop" parameterType="String" resultType="sellerDto">
		SELECT * FROM SELLER
		WHERE ID = #{id}
	</select>
	
	<select id="myShopDetail" parameterType="Map" resultType="sellerDto">
		SELECT * FROM SELLER  
		WHERE ID = #{id} AND SHOPID = #{shopId}
	</select>
	
	<update id="myShopUpdate" parameterType="sellerDto">
		UPDATE SELLER SET SHOPTEL = #{shopTel}, SHOPNAME = #{shopName}, 
		SHOPADD = #{shopAdd}, LOCAL = #{local}, BUSINESSNUM = #{businessNum}, POWER = '0'
		WHERE SHOPID = #{shopId}
	</update>
	
	<update id="myShopDelete" parameterType="String">
		UPDATE SELLER SET DEL = '1' WHERE SHOPID= #{shopId}
	</update>
	
	<update id="myShopCan" parameterType="String">
		UPDATE SELLER SET DEL = '0' WHERE SHOPID= #{shopId}
	</update>
	
	
	
	
	
	<update id="myPageDel" parameterType="String">
		UPDATE MEMREQUEST SET DEL = '1'
		WHERE ID = #{id}
	</update>

	<update id="myPageCan" parameterType="String">
		UPDATE MEMREQUEST SET DEL = '0'
		WHERE ID = #{id}
	</update>
	
	<select id="delList" resultType="YHDto">
		SELECT * FROM MEMREQUEST WHERE DEL = '1'
	</select>
	
	<select id="delShopList" resultType="sellerDto">
		SELECT * FROM SELLER WHERE DEL ='1'
	</select>
</mapper>
