<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.yewon.im">
	
	<select id="memberList" resultType="ProfileDto">
		SELECT * FROM PROFILE
	</select>
	
	<select id="memberListFunction" parameterType="Map" resultType="ProfileDto">
		SELECT * FROM PROFILE  
		<if test="local != null">
		WHERE LOCAL = #{local}
		</if>
		<if test="keyword != null">
		WHERE UPPER(NAME)LIKE '%' || #{keyword} || '%'
		</if>
	</select>
	
	<select id="memberHome" parameterType="int" resultType="ProfileDto">
		SELECT * FROM PROFILE WHERE SEQ = #{seq}
	</select>
	
	<select id="memberBoard" parameterType="int" resultType="BoardDto">
		SELECT * FROM BOARD WHERE MEMBER_SEQ= #{member_seq} ORDER BY BOARD_SEQ DESC
	</select>
	
	<insert id="writeBoard" parameterType="BoardDto">
		INSERT INTO BOARD (content, member_seq, writeDate, `like`) 
		VALUES(#{content}, #{member_seq}, current_timestamp, 0)
	</insert>
	
	<select id="comment" parameterType="Map" resultType="CommentDto">
		SELECT c.board_seq, c.comment_seq, c.content, c.`like`, c.member_seq, c.writeDate 
		from STUDY.Board b , STUDY.comment c 
		where b.board_seq = c.board_seq and b.board_seq IN <foreach collection="board_seqs" item="board_seq" open="(" close=")" separator=",">
																#{board_seq}
															</foreach>
	</select>
</mapper>
