<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.yewon.im">
	
	<select id="memberList" resultType="ProfileDto">
		SELECT * FROM PROFILE ORDER BY seq LIMIT 0,3
	</select>
	
	<select id="numberthMemberList" parameterType="int" resultType="ProfileDto">
		SELECT * FROM PROFILE ORDER BY seq LIMIT ${numberth},3
	</select>
	
	<!-- 페이징 갯수 구하기 -->
	<select id="pageCount" resultType="int">
		SELECT CEIL(COUNT(seq)/3) from Profile
	</select>
	
		<!-- <if test="keyword != null">
		WHERE UPPER(NAME)LIKE '%' || #{keyword} || '%'
		</if> -->
	<select id="local" resultType="HashMap">
		SELECT DISTINCT (p.`LOCAL`) 
		from Profile p
	</select>
	
	
	<select id="memberListFunction" parameterType="Map" resultType="ProfileDto">
		SELECT * FROM PROFILE 
		<where>
			<if test="genders != null and locals != null">
				LOCAL IN <foreach collection="locals" item="local" open="(" close=")" separator=','>
								#{local}
						</foreach>
				AND GENDER IN <foreach collection="genders" item="gender" open="(" close=")" separator=",">
									#{gender}
								</foreach>
			</if> 
			<if test="genders == null and locals != null">
				LOCAL IN <foreach collection="locals" item="local" open="(" close=")" separator=','>
								#{local}
						</foreach>
			</if>
			<if test="locals == null and genders != null ">
				GENDER IN <foreach collection="genders" item="gender" open="(" close=")" separator=",">
									#{gender}
								</foreach>
			</if>
		</where>
	</select>
	
	<select id="keyword" parameterType="String" resultType="ProfileDto">
		SELECT * from Profile p 
		WHERE NAME LIKE '%${keyword}%' or AGE LIKE '%${keyword}%' or TEL LIKE '%${keyword}%' or EMAIL LIKE '%${keyword}%' or JOB LIKE '%${keyword}%' or HOBBY LIKE '%${keyword}%'
	</select>
	
	<select id="orderBy" resultType="ProfileDto">
		SELECT * FROM PROFILE ORDER BY 
		<if test='orderBy == "young"'>
		AGE
		</if>
		<if test='orderBy == "old"'>
		AGE DESC
		</if>
	</select>
	

	<select id="memberHome" parameterType="int" resultType="ProfileDto">
		SELECT * FROM PROFILE WHERE SEQ = #{seq}
	</select>
	
	<select id="memberBoard" parameterType="int" resultType="BoardDto">
		SELECT * FROM BOARD WHERE MEMBER_SEQ= #{member_seq} ORDER BY BOARD_SEQ DESC
	</select>
	
	<insert id="writeBoard" parameterType="BoardDto">
		INSERT INTO BOARD (content, member_seq, writeDate, `like`) 
		VALUES(#{content}, #{member_seq}, current_timestamp, 0)
	</insert>
	
	<resultMap type="com.yewon.im.dtos.ProfileDto" id="ProfileDto">
		<result property="name" column="name"/>
		<result property="profileImg" column="profileImg"/>
	</resultMap>
	
	<resultMap type="com.yewon.im.dtos.CommentDto" id="CommentMap">
		<result property="comment_seq" column="comment_seq"/>
		<result property="board_seq" column="board_seq"/>
		<result property="content" column="content"/>
		<result property="member_seq" column="member_seq"/>
		<result property="writeDate" column="writeDate"/>
		<result property="like" column="like"/>
		<collection property="profileDto" resultMap="ProfileDto" />
	</resultMap>
	
	<select id="comment" parameterType="Map" resultMap="CommentMap">
		SELECT p.name, p.profileImg,c.board_seq, c.comment_seq, c.content, c.`like`, c.member_seq, c.writeDate 
		from Board b , comment c , profile p
		where b.board_seq = c.board_seq = p.seq and b.board_seq IN <foreach collection="board_seqs" item="board_seq" open="(" close=")" separator=",">
																		#{board_seq}
																	</foreach>
	</select>
	
	<resultMap type="HashMap" id="countComment">
		<result property="board_seq" column="board_seq"/>
		<result property="countComment" column="countComment"/>
	</resultMap>
	
	<select id="countComment" resultMap="countComment">
		SELECT board_seq ,COUNT(board_seq) as countComment
		FROM Comment
		GROUP BY board_seq 
	</select>
	
	<insert id="writeComment" parameterType="CommentDto">
		INSERT INTO Yewon.Comment
		(board_seq, content, member_seq, writeDate)
		VALUES(#{board_seq}, #{content}, #{member_seq}, NOW())
	</insert>
	
	<update id="likeup" parameterType="int">
		UPDATE Yewon.Board
		SET `like`= `like` + 1
		WHERE board_seq= #{board_seq}
	</update>
	
</mapper>