<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.yewon.im">
	
	<select id="memberList" resultType="ProfileDto">
		SELECT * FROM PROFILE
	</select>
	
	<select id="memberHome" parameterType="int" resultType="ProfileDto">
		SELECT * FROM PROFILE WHERE SEQ = #{seq}
	</select>
	
	<select id="memberBoard" parameterType="int" resultType="BoardDto">
		SELECT * FROM BOARD WHERE MEMBER_SEQ= #{member_seq}
	</select>
	
	<insert id="writeBoard" parameterType="BoardDto">
		INSERT INTO BOARD (content, member_seq, writeDate, `like`, board_img) 
		VALUES(#{content}, #{member_seq}, current_timestamp, 0, #{oard_img})
	</insert>
</mapper>
